nginx/htpasswd
docker-compose
api/bin
.DS_Store
*.class
Application.yml
api/imageRegionProcessor/src/main/resources/
api/auth/src/main/resources/
api/eureka/src/main/resources/
api/zuul/src/main/resources/
api/auth/bin/main
