//
//  Config.xcconfig
//  ChemicalEquationBalancerApp
//
//  Created by Brandon Phan on 1/27/20.
//  Copyright © 2020 Brandon Phan. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCTION_API_HOSTNAME = 54.153.23.243
LOCAL_TEST_API_HOSTNAME = localhost:8080

